spring:
  cloud:
    gateway:
      routes:
        - id: medical-records-service
          uri: lb://MEDICAL-RECORDS-SERVICE
          predicates:
            - Path=/medical-records/**
          filters:
            - AuthenticationFilter

        - id: ramq-service
          uri: lb://RAMQ-SERVICE
          predicates:
            - Path=/ramq/**
          filters:
            - AuthenticationFilter

        - id: modifications-archive-service
          uri: lb://MODIFICATIONS-ARCHIVE-SERVICE
          predicates:
            - Path=/modifications/**
          filters:
            - AuthenticationFilter

        - id: authentication-service
          uri: lb://AUTHENTICATION-SERVICE
          predicates:
            - Path=/auth/**

  application:
    name: API-GATEWAY

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/